/*=======================================================
      THEME STYLING START
========================================================*/
* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #FFF;
    font-weight: normal;
    position: relative;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/*=======================================================
     HEADER
========================================================*/
header {
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.9);
    padding: 15px 0;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 30px rgba(0,0,0,0.07);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 ); /* IE6-9 */
}
.is-sticky header {
    background: rgba(0,0,0,0.9);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
header .navbar {
    border: none;
    margin: 0px;
    position: static;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    float: right;
}
header .navbar .nav {
    margin-top: 3px;
}
.dropdown-toggle::after {
    display: none;
}
header .logo {
    float: left;
    position: relative;
    max-width: 120px;
}
header .logo img {
    z-index: 3;
    position: relative;
}
.sticky-wrapper {
    height: auto !important;
}
header .sticky {
    background: rgba(255,255,255,0.95);
    left: 0px;
}
header .is-sticky .sticky {
    padding: 15px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header .navbar {
    display: inline-block;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
header .navbar li {
    display: inline-block;
    float: left;
    margin: 0 5px;
    position: relative;
}
header .sticky {
    width: 100%;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
header .navbar li a {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 10px 0px;
    margin: 0 10px;
    position: relative;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    display: inline-block;
}
header .navbar li a:before {
    width: 0px;
    margin: 0px auto;
    position: absolute;
    content: "";
    height: 2px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    background: #ffe115;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
header .navbar li a:hover:before {
    width: 100%;
}
header .navbar li.active a:before {
    width: 100%;
    margin: 0px auto;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background: #ffe115;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
.ownmenu .nav .dropdown-menu {
    background: rgba(255,255,255,0.99);
    padding: 0px;
}
.ownmenu .dropdown-menu li {
    margin: 0px;
}
.ownmenu .nav .dropdown-menu li {
    position: relative;
    z-index: 2;
}
.ownmenu .nav .dropdown-menu li a {
    z-index: 1;
    position: relative;
}
.ownmenu .nav .dropdown-menu li a:before {
    background: #2d3a4b;
    content: "";
    width: 0px;
    height: 100%;
    top: 0px;
    margin: 0px;
    z-index: -1;
    left: 0px;
    display: none;
}
.ownmenu .dropdown-menu li a:hover:before {
    width: 100%;
}
.ownmenu .nav .dropdown-menu li a {
    padding: 0px 20px;
    font-size: 13px;
    line-height: 30px;
    background: none;
    text-transform: none;
    color: #2d3a4b !important;
}
.ownmenu .nav .dropdown-menu li:nth-last-child(1) a {
    border-bottom: none;
}
.ownmenu .nav .dropdown-menu li a:hover {
    color: #000 !important;
}
.ownmenu .nav .dropdown-menu {
    border: none;
    min-width: 250px;
    margin-top: 23px;
}
.ownmenu .nav .dropdown-menu {
    border-top: none;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    margin-left: 10px;
}
.ownmenu .nav .dropdown-menu {
}
.ownmenu .dropdown.megamenu {
    position: static !important;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
    width: 100%;
    min-width: inherit;
    padding: 30px;
    margin-top: 0px;
}
.ownmenu .nav .dropdown-menu li a {
    position: relative;
}
.ownmenu .nav .dropdown-menu li a:after {
    content: "\f105";
    position: absolute;
    left: 5px;
    top: 0px;
    color: #000;
    font-family: 'FontAwesome';
}
.ownmenu .dropdown.megamenu .dropdown-menu li {
    display: inline-block;
    width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu h6 {
    margin-bottom: 20px;
    color: #2d3a4b;
    font-size: 14px;
    font-weight: normal;
}
.ownmenu .dropdown.megamenu .dropdown-menu .btn {
    padding: 0px 30px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .btn:before {
    display: none;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #2d3a4b;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 span {
    font-size: 14px;
    text-transform: none;
    width: 100%;
    font-weight: normal;
    display: inline-block;
}
.ownmenu .dropdown.megamenu .dropdown-menu li a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    padding: 0px 0px;
    color: #2d3a4b !important;
    margin: 0px;
}
.ownmenu .dropdown .media-left {
    float: left;
}
.ownmenu .dropdown.megamenu .cart-img {
    width: 80px;
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.ownmenu .dropdown.megamenu .cart-img a {
    padding: 1px !important;
    border: none !important;
}
.ownmenu .dropdown.megamenu .stars {
    margin-bottom: 0px;
    color: #ffe119;
    font-size: 11px;
}
.ownmenu .dropdown.megamenu .stars i {
    margin: 0 1px;
}
.ownmenu .dropdown.megamenu .media-heading {
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 5px !important;
}
.ownmenu .dropdown.megamenu .top-rated li .price {
    font-size: 12px;
}
.ownmenu .dropdown.megamenu .top-rated li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.ownmenu .dropdown.megamenu .top-rated li:nth-last-child(1) {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
    overflow: hidden;
    border-top: 1px solid #2d3a4b;
    margin: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .row {
    max-width: 1170px;
    margin: 0 auto;
}
header .is-sticky .sticky .nav .dropdown.megamenu .dropdown-menu {
    margin-top: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .row {
    position: relative;
}
.ownmenu .dropdown.megamenu .dropdown-menu .nav-img {
    margin-right: -30px;
    float: right;
    margin-top: -30px;
    margin-bottom: -30px;
    position: absolute;
    top: 0px;
    z-index: -1;
}
.ownmenu .dropdown.megamenu .dropdown-menu li a:before {
    height: 1px;
    top: auto;
    bottom: 0px;
}
.ownmenu .dropdown .sub-menu .dropdown-menu {
    position: absolute;
    left: 100%;
    top: 0px;
    display: none !important;
    margin: 0px !important;
}
.ownmenu .dropdown .sub-menu:hover .dropdown-menu {
    display: block !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li a {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li:nth-last-child(1) a {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu:before {
    content: "\f105";
    position: absolute;
    right: 10px;
    font-family: 'FontAwesome';
    line-height: 33px;
    z-index: 2;
}
.ownmenu .dropdown .sub-menu:hover:before {
    color: #fff;
}
.ownmenu {
    float: left;
}
.nav-right i {
    font-size: 20px;
}
.nav-right .navbar-right li {
    margin: 0px;
}
.nav-right .navbar-right li a {
    border: 1px solid #2d3a4b;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    line-height: 34px;
    margin-left: 10px !important;
}
.nav-right .navbar-right li a i {
    font-size: 14px;
}
.nav-right .navbar-right li a:hover {
    color: #fff;
    background: #2d3a4b;
}
.nav-right {
    float: right;
    position: relative;
    margin-top: 1px;
}
.navbar-right li a {
    margin: 0px !important;
    padding: 0px !important;
    width: 40px;
    float: left;
}
header .social_icons {
    float: right;
    color: #fff;
    margin-top: 20px;
}
header .social_icons a {
    color: #fff;
    margin-left: 10px;
}
header.light-head .navbar .nav-right li a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: none !important;
}
header .social_icons a:hover {
    color: #ab4e52;
}
header .is-sticky .sticky .nav .dropdown-menu {
    margin-top: 10px;
}
.header-1 {
    position: absolute;
    background: none;
}
.header-1 .sticky {
    background: none;
}
.header-1 .is-sticky .sticky {
    background: rgba(255,255,255,0.9);
}
header.light-head .navbar li a {
    color: #fff;
}
header.light-head .navbar li a:hover {
    background: rgba(0,0,0,0.9);
    border-radius: 6px 6px 0 0;
}
header.light-head .navbar .dropdown-menu li a {
    color: #333;
}
header.light-head .navbar .dropdown-menu li a.btn {
    color: #fff;
}
.header-1 .is-sticky .sticky {
    background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu .nav .dropdown-menu {
    background: rgba(0,0,0,0.9) !important;
    border: none;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a {
    color: #fff !important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
header.light-head .ownmenu .nav .dropdown-menu li a:after {
    color: #fff;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:hover {
    color: #fff !important;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:before {
    display: none;
}
header.light-head p {
    color: #b4b4b4;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h6 {
    color: #fff;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h5 {
    color: #fff;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h5 span {
    color: #999999;
}
header.light-head .ownmenu .dropdown.megamenu .cart-img {
    background: #000;
    border: 1px solid rgba(255,255,255,0.2);
}
header.light-head .ownmenu .dropdown.megamenu .top-rated li .price {
    color: #999999;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a {
    color: #999999 !important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a:hover {
    color: #fff !important;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a:before {
    background: #fff;
}
.header-1 {
    padding-bottom: 0px !important;
}
.header-1 .sticky {
    padding-bottom: 0px !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: none;
}
.header-1 .logo {
    margin-top: 13px;
}
.header-1 .ownmenu .nav .dropdown-menu {
    margin-top: 0px;
}
header.light-head .navbar li a:before {
    background: #fff;
    bottom: 0px;
    top: auto;
    height: 2px;
}
header.light-head .navbar li.active a:before {
    background: #fff;
}
header.light-head .ownmenu ul.dropdown {
    background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu ul.dropdown li a {
    color: #d6d6d6 !important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
header .navbar-collapse {
    float: left;
    padding: 0px;
    margin-right: 20px;
}
header .user-acc li {
    display: inline-block;
    width: 100%;
    margin: 0px !important;
}
header .user-acc li h6 {
    padding: 0 20px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    text-transform: none;
}
header .user-acc .dropdown-menu {
    margin-top: 51px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    min-width: 260px;
}
.header-1 .user-acc .dropdown-menu {
    margin-top: 11px;
}
.header-1 .user-basket .dropdown-menu {
    margin-top: 11px;
}
header .is-sticky .sticky .user-acc .dropdown-menu {
    margin-top: 21px;
}
header .user-acc li a {
    display: inline-block;
    width: 100%;
    letter-spacing: 0px;
    padding: 10px 20px;
    font-size: 12px;
}
header .user-acc .dropdown-menu>li>a:hover {
    background: #ffe115;
}
header .user-acc .dropdown-menu>li>a:focus {
    background: #ffe115;
}
header .navbar-right li a:before {
    display: none;
}
header .user-basket .dropdown-menu {
    margin-top: 51px;
    padding: 20px;
    border: none;
    border-radius: 0px;
    min-width: 350px;
}
header .user-basket .dropdown-menu li {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 100%;
}
header .user-basket h5 {
    font-weight: normal;
    font-size: 16px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
}
header .user-basket .btn {
    padding: 0px 0px;
    width: 100%;
    letter-spacing: 0px;
    color: #fff;
    border: none;
}
header .user-basket .btn:hover {
    background: #ffe115;
    color: #2d3a4b;
}
header .user-basket .media-heading {
    margin-top: 0px;
    font-weight: normal;
}
header .user-basket span {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    font-size: 12px;
}
header .user-basket .cart-img a {
    display: inline-block;
    width: 100%;
    padding: 0px;
}
header .user-basket .cart-img {
    width: 90px;
    margin-right: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    padding: 5px;
    display: inline-block;
}
header .is-sticky .sticky .user-basket .dropdown-menu {
    margin-top: 21px;
}


/*main section*/
.main-sec {
    min-width: 95vw;
    min-height: 100vh;
    top: 0;
}
.main-sec-bg:before {
    content: "";
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.main-sec-bg {
    position: sticky;
    background-image: url("../images/Tint.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.main-sec-inner h2 {
    font-size: 50px;
    font-family: "BrandonGrotesque";
    color: rgb( 255, 255, 255 );
    text-align: center;
    margin-bottom: 50px;
}

/*main section end*/



/*service*/

.services {
    background-image: url("../images/Layer 3.jpg");
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.services h2 {
    font-size: 60px;
    font-family: "BrandonGrotesque";
    line-height: 1.25;
    text-align: center;
    color: rgb( 255, 255, 255 );
    margin-bottom: 50px;
}

.services h4{
    font-size: 20px;
    font-family: "BrandonGrotesque";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 2.9;
    text-align: center;
}


.services p  {
    font-family: "BrandonGrotesque";
    font-size: 14px;
    color: rgb( 255, 204, 207 );
    text-align: center;

}

.services .service {
    border-radius: 5px;
    background-color: rgb( 200, 83, 90 );
    opacity: 0.8;
    text-align: center;
    height: 300px;

}


.services .service_title{
    font-size: 30px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 1.933;
}


.services .service_content {
    font-size: 14px;
    font-family: "Lato";
    color: rgb( 254, 254, 254 );
    line-height: 1.429;
    text-align: center;
}



.services .service_icon {
    border-radius: 50%;
    background-color: rgb( 255, 255, 255 );
    width: 120px;
    height: 120px;
    border: 3px white double;
}

.services .service_icon i  {
    color: #df5c64;
    font-size: 70px;
    line-height: 100px;
}

/*service end*/


/*about*/


.about {
    background-image: url("../images/Layer 6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.about h2 {
    font-size: 60px;
    font-family: "BrandonGrotesque";
    line-height: 1.25;
    text-align: center;
    color: rgb( 255, 255, 255 );
    margin-bottom: 50px;
    text-transform: uppercase;
}

.about h4{
    font-size: 20px;
    font-family: "BrandonGrotesque";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 2.9;
    text-align: center;
}


.about p  {
    font-family: "BrandonGrotesque";
    font-size: 14px;
    color: rgb( 255, 204, 207 );
    text-align: center;

}

.about .about_me {
    text-align: center;
    height: 600px;
    border-radius: 5px;
    background-color: rgb( 77, 63, 75 );

}

.about .about_me:hover {
    opacity: 1;

}


.about .my_photo{
    border-radius: 50%;
    /*background-color: rgb( 255, 255, 255 );*/
    width: 300px;
    height: 300px;
    background-image: url("../images/me.JPG");
    background-size: cover;
    border: 3px white solid;
}


.about .about_name {
    font-size: 25px;
    color: rgb( 199, 182, 197 );
    text-transform: uppercase;
    line-height: 2.32;
    text-align: right;
}

.about .about_text {
    font-size: 18px;
    color: white;
}

.about .about_text a{
    font-size: 19px;
    color: darkgrey;
}
.about .about_text a:hover{
    color: lightgray;
}

.about .about_skill {
    height: 600px;
    border-radius: 5px;
    background-color: rgb( 77, 63, 75 );
    opacity: 0.502;
    padding: 10px;
    transition: .5s;
}

.about .about_skill:hover {
    opacity: 1;
}

.about .about_skill h3 {
    text-transform: uppercase;
    font-size: 22px;
    color: white;
}

.me {
    background-image: url(../images/me.JPG);
    background-size: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid white;
    position: relative;
}


/*me hover*/


.effect-hera {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.me:hover {
    border: 0px;
}

.effect-hera p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.effect-hera p i {
    font-size: 40px;
}

.figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.effect-hera p {
    width: 150px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

.effect-hera p a {
    color: #fff;
    margin: 5px;
}

.effect-hera p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-hera p a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0);
    transform: translate3d(-60px,-60px,0);
    transition: .5s;
}

.effect-hera p a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0);
    transform: translate3d(60px,-60px,0);
    transition: .5s;
}

.effect-hera p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px,60px,0);
    transform: translate3d(-60px,60px,0);
    transition: .5s;
}

.effect-hera p a:nth-child(4) i {
    -webkit-transform: translate3d(60px,60px,0);
    transform: translate3d(60px,60px,0);
    transition: .5s;
}

.effect-hera:hover .figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}
.effect-hera:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}
.effect-hera:hover p i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); /* just because it's stronger than nth-child */
    opacity: 1;
}

.effect-hera p a:first-child i:hover {
    color: #4f689e;

}

.effect-hera p a:nth-child(2) i:hover {
    color: #df5c64;
}

.effect-hera p a:nth-child(3) i:hover {
    color: #3e61af;
}

.effect-hera p a:nth-child(4) i:hover {
    opacity: .6;
}

/*me hover end*/


/*about end*/


/*projects start*/
.project {
    background-image: url("../images/layer4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.project h2 {
    font-size: 60px;
    font-family: "BrandonGrotesque";
    line-height: 1.25;
    text-align: center;
    color: rgb( 255, 255, 255 );
    margin-bottom: 50px;
    text-transform: uppercase;
}

.project p  {
    font-family: "BrandonGrotesque";
    font-size: 14px;
    color: rgb( 255, 204, 207 );
    text-align: center;

}


.button {
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    background-color: transparent;
    border: none;
    width: 24%;
    outline: none!important;
}

.is-checked{
    border-radius: 4px;
    background-color: rgb( 245, 193, 73 );
    height: 35px;

}



.grid {
    /*border: 1px solid #333;*/
    width: 100%;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}



.my_projects {
    background-size: cover;
    background-position:center ;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    position: relative;
    margin-right:15px;
    margin-bottom: 25px;

}

.luxhotels {
    background-image: url(../images/luxhotels.jpg);
}
.armeniacoin {
    background-image: url(../images/armeniacoin.jpg);
}
.goodmood {
    background-image: url(../images/goodmood.jpg);
}

.my_projects_hover {
    border-radius: 15px;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}



.my_projects_hover:before, .my_projects_hover:after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.6s;
}

.my_projects_hover:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

 .my_projects_hover:after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

 .my_projects_hover i{
     color: rgba(255, 255, 255, 0.9);
     margin: 0 auto;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, 50%);
     opacity: 0;
     transition: all 0.3s linear;

 }



.my_projects:hover  .my_projects_hover i{
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-delay: 0.1s;

}

.my_projects:hover .my_projects_hover {
    background-color: rgba(42, 43, 47, 0.8);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.my_projects:hover .my_projects_hover:before, .my_projects:hover .my_projects_hover:after {
    opacity: 1;
    transform: scale(1);
}

/*projects end*/


/*contact start*/


.contact {
    background-image: url("../images/Layer5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contact h2 {
    font-size: 60px;
    font-family: "BrandonGrotesque";
    line-height: 1.25;
    text-align: center;
    color: rgb( 255, 255, 255 );
    margin-bottom: 50px;
    text-transform: uppercase;
}

.contact p  {
    font-size: 14px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    line-height: 1.714;
    text-align: center;
}



.feedback {
    flex: 55%;
    text-align: left;
}
.feedback__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}
.feedback__form {
    margin: 22px 0 0 0;
    font-size: 0;
}
.form_name {
    width: 48%;
    background: #68a097;
    border-radius: 4px;
    border: none;
    color: #82c8bd;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding: 10px 19px;
    margin-right: 3%;
}
.form_name:nth-of-type(2n) {
    margin-right: 0;
}
.form_name::-webkit-input-placeholder {
    color: #82c8bd;
}
.form_name:focus {
    background: white;
}
.form_name:focus::-webkit-input-placeholder {
    color: white;
}
.form_text {
    display: block;
    width: 100%;
    height: 160px;
    color: #82c8bd;
    background-color: #68a097;
    border-radius: 4px;
    border: none;
    margin: 20px 0 0 0;
    padding: 10px 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: Lato, sans-serif;
    resize: none;
}
.form_text::-webkit-input-placeholder {
    color: #82c8bd;
}
.submit {
    min-width: 260px;
    margin: 30px auto 0 auto;
    background-color: #df5c64;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0 -4px 0 rgba(178, 74, 80, 0.5);
    color: #fff;
    font-family: Lato;
    font-size: 26px;
    font-weight: 900;
    line-height: 21px;
    padding: 13px 0;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
}



/*contact end*/
